body {
    background-color: #E8E8E8;
}

h1 {
    font-family: 'Montagu Slab', serif;
    text-align: center;
    font-size: 3em;
    color: #DFA740;
}

button,
p,
form {
    font-family: 'M PLUS 1', sans-serif;
    color: #485447;
}

#new-book {
    background-color: #809F97;
    padding: 20px 30px;
    border: 2px solid #B7CFD0;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

#form-modal-background-overlay {
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#form-popup {
    display: none;
    /* Hidden by default */
    z-index: 20;
    /* Sit on top */
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: #D6AC9F;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 10px rbga(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.15);
}

.card {
    background-color: blueviolet
}